<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<h1>Editing Capsule Class</h1>

<%= render 'form' %>

<%= link_to 'Show', @capsule_class %> |
<%= link_to 'Back', capsule_classes_path %>
</div>