<div style="margin-left:3%;">
<h5><strong>Roles and Responsibilites</strong><br>
	<ul style="text-decoration:none">
		<%requirement_category.role_and_responsibilities.split("*").each do |k|%>
		<li><%=k%></li>
		<%end%>
	</ul>
</h5>
<br>
<h5><strong>What we are Looking for</strong><br>
	<ul style="text-decoration:none">
		<%requirement_category.what_we_are_looking_for.split("*").each do |k|%>
		<li><%=k%></li>
		<%end%>
	</ul>
</h5>

<br>
<h5><strong>Hr  Email: </strong><br><%=requirement_category.hr_email%></h6>
<br>
<h5><strong>Hr  Number: </strong><br><%=requirement_category.hr_number%></h6>
<br>
</div>