<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<h1>Editing Privacy Policy Top Text</h1>

<%= render 'form' %>

<%= link_to 'Show', @privacy_policy_top_text %> |
<%= link_to 'Back', privacy_policy_top_texts_path %>
</div>