/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-material-design";
@import "owl.carousel";
@import "owl.carousel/owl.theme.green";

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
#owl-demo2 .item{
  background: transparent;
  padding: 30px 0px;
  margin: 10px;
  color: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.nos{text-decoration: none;}
.nos:hover{text-decoration: none !important;background-color: transparent;}

#log1{
	position: fixed;
	z-index: 100;
	padding: 12px;
	height: 60px;
	background-color: #fff;
	box-shadow: 5px 5px 12px #595959,-5px -5px 12px #595959;
	text-align: center;
	padding-top: 20px;
	top: 88vh;
	right: 8px;
}

#trigger-overlay:hover{background-color:transparent !important;}
#logo-img:hover{background-color: transparent !important;}
#homepagesections a:hover{background-color: transparent !important;}
.asa a:hover{background-color: transparent !important;}
.learn-btn{color:#ffffff !important;}
.learn-btn:hover{color:#72d0da !important;}

/*-----------BANNER SECTION CSS----------*/
.use-btn2{background-color: #72cfd9 !important;color:#ffffff !important;transition:all 0.4s ease !important;}
	.use-btn2:hover{background-color: #ffffff !important;color:#010101 !important;}

/*---------BANNER SECTION END---------*/	

.fitem{transition: all 0.4s ease;color: #3f6184;font-weight:bold;text-decoration:none;font-size: 14px;}

.footer-nav li a:hover{text-decoration:none; color:#73d0da;background-color: #eeeeee;}
#ftext a:hover{text-decoration:none; color:rgb(42,223,149);background-color: #eeeeee;}

#ff {
	
#ol::-webkit-scrollbar {
    width: 7px;
}

#ol::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #009688; 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ef403d; 
}
}
.olol{color: #ffffff !important;transition:all 0.4s ease;}
.olol:hover{text-decoration: none; font-weight: bold;}
.chosen-select{border-bottom: 2px solid #009688 !important; box-shadow: none !important;height:40px !important;background-color:#eeeeee; }


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.field_with_errors{width:100% !important;background-color:#F44336 !important;color:#fff !important;}


/*===========ABOUT PAGE CSS=============*/

.about_head_cont{
  
  h1{
    text-shadow:
   -1px -1px 0 #525252,  
    1px -1px 0 #525252,
    -1px 1px 0 #525252,
     1px 1px 0 #525252;
     color:#fff;
     position: absolute;
     top:30%;
     left:50%;
     transform:translate(-50%,-50%);
     font-size: 40px;
     letter-spacing: 5px;
     font-family: 'Nunito',sans-serif;

  }
  div{

    position: absolute;
    top:46%;
       left:50%;
       transform:translate(-50%,-50%);  
    p{
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    }
  }
  a{font-family: 'Nunito',sans-serif;}
}

#clickopen:hover{cursor: pointer; cursor: hand;}

.main_s_link{
  font-size:30px;
  color: #fff !important;
  transition: all 0.4s ease !important;
  font-family: 'Nunito',sans-serif;

}
.main_s_link:hover{
  background-color:transparent;
  text-decoration:none;
  color: #72cfd9 !important;

}

.main_s_para{
  display:inline-center;margin-top:2%; height:140px;
  p{color:#fff !important;
  font-family: 'Nunito',sans-serif;
  }
}

.main_s_h2{font-family: 'Nunito',sans-serif;color:#fff;text-align:center;margin-top:13%;}
.main_s_h3{font-family: 'Nunito',sans-serif;color:#fff;text-align:center;margin-top:4%;}

.main_s_img{
  
border:2px solid #fff !important;
padding: 0px !important;
  img{
    width:288px;
  }
}

/*.main_s_imga{transition: all 0.4s ease !important;}
.main_s_imga:hover{background-color:blue !important;}*/

.main_main{
  margin:0 auto;text-align:center; 
  display:none;
}

.bw {
    -webkit-filter: grayscale(100%) ; /* Chrome, Safari, Opera */
    filter: grayscale(100%) ;
}