#career-show{
		padding: 0 !important;
	
h1{font-family: 'Nunito',sans-serif;}
h2{font-family: 'Nunito',sans-serif;}
h3{font-family: 'Nunito',sans-serif;}
h4{font-family: 'Nunito',sans-serif;}
h5{font-family: 'Nunito',sans-serif;}
h6{font-family: 'Nunito',sans-serif;}
p{font-family: 'Nunito',sans-serif;}
p1{font-family: 'Nunito',sans-serif;}
a{font-family: 'Nunito',sans-serif;}

}

#open-position1{h1{font-family: 'Nunito',sans-serif !important;}
h2{font-family: 'Nunito',sans-serif !important;}
h3{font-family: 'Nunito',sans-serif !important;}
h4{font-family: 'Nunito',sans-serif !important;}
h5{font-family: 'Nunito',sans-serif !important;}
h6{font-family: 'Nunito',sans-serif !important;}
p{font-family: 'Nunito',sans-serif !important;}
p1{font-family: 'Nunito',sans-serif !important;}
a{font-family: 'Nunito',sans-serif !important;}
a:hover{background-color: transparent !important;text-decoration: none !important;}
}
