
#contact_us{
		h1{font-family: 'Nunito',sans-serif !important;}
		h2{font-family: 'Nunito',sans-serif !important;}
		h3{font-family: 'Nunito',sans-serif !important;}
		h4{font-family: 'Nunito',sans-serif !important;}
		h5{font-family: 'Nunito',sans-serif !important;}
		h6{font-family: 'Nunito',sans-serif !important;}
		p{font-family: 'Nunito',sans-serif !important;}
		p1{font-family: 'Nunito',sans-serif !important;}
		a{font-family: 'Nunito',sans-serif !important;}
		a:hover{background-color: transparent !important;text-decoration: none !important;}

		.btn-default{background-color: #3f6184 !important;color:#fff !important; transition:all 0.4s ease !important;}
		.btn-default:hover{color: #fff !important; background-color: #72cfd9 !important;}

}