.class_container{ font-family: 'Nunito',sans-serif !important; h3{color: #3f6184 !important;font-family: 'Nunito',sans-serif;}
	h1{font-family: 'Nunito',sans-serif;}h4{font-family: 'Nunito',sans-serif;}h2{font-family: 'Nunito',sans-serif;}p{font-family: 'Nunito',sans-serif;}
	h5{font-family: 'Nunito',sans-serif;}
}
.class_heading{
	padding: 4px;
	
	
	
	h2{
		font-family: 'Nunito',sans-serif;
		color: #3f6184;
		
	}
}

.pdf_cont{
	border-left:2px solid #72cfd9; padding-left:12px;
	a{text-decoration: none;}
	a:hover{
		text-decoration: none;background-color: transparent;color: #72cfd9;
	}
}


#en1{background-color:#eeeeee !important;border-left:1px solid #525252 !important;
border-top:1px solid #525252 !important;border-right:1px solid #525252 !important; color:#525252 !important;
border-radius: 5px 5px 0 0;}