<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<h1>Editing free_study_material</h1>

<%= render 'form' %>


<%= link_to 'Back', capsule_class_path(@free_study_material.capsule_class) %>
</div>